
.header {
	height:					64px;
	position:				fixed;
	top:0;
	width:100%;
}

.title {
	font-family: 'Fredoka One', cursive;
	font-size:		2.5em;
	margin-left:	200px;
	display:			flex;
}

.cloud-icon {
	font-size:			42px;
	margin-right:		20px;
}