<app-header></app-header>

<div class="body-container" >
  
  <div class="navbar-container">
    
    <app-navbar *ngIf="!!(mainFolder | async)" 
      (sendSearchParamsToAppComponentEvent)="applySearchParams($event)" 
      (sendNodeInfoToAppComponentEvent)="getFolderContents($event)" >
    </app-navbar>
    
  </div>
  
  <mat-divider [vertical]="true"></mat-divider>
  
  <div class="item-grid-container">
    
    <app-item-grid 
        [folderContents]=folderContents 
        [matchCase]=matchCase
        [searchString]=searchString
        (sendFileInfoToAppComponentEvent)="updateFileItem($event)" >
    </app-item-grid>
  
  </div>
  
  <mat-divider [vertical]="true"></mat-divider>
  
  
  
  <div class="infobar-container">
    
    <app-infobar [itemInfo]=itemInfo ></app-infobar>
  </div>
  
</div>