<div class="grid-container" *ngIf="!(isLoading | async)"> 
	<mat-grid-list  *ngIf="!isEmpty && !noResultsIndicator" cols="6" rowHeight="160px">
		<mat-grid-tile
			*ngFor="let folder of folders"
			[colspan]="1"
			[rowspan]="1">
			
			<app-item-card 
					[item]="folder"
					[kind]="folder.kind"
					[name]="folder.name"
					[mimeType]="inode/directory"
					[id]="folder._id"
			></app-item-card>

		</mat-grid-tile>
		
		<mat-grid-tile
			*ngFor="let file of files"
			[colspan]="1"
			[rowspan]="1">
			
			<app-item-card 
					[item]="file"
					[kind]="file.kind"
					[name]="file.name"
					[mimeType]="file.mimeType"
					[id]="file._id"
			></app-item-card>

		</mat-grid-tile>
	</mat-grid-list>
	<div *ngIf="isEmpty">
		<mat-card class="empty-warning">Folder is empty.</mat-card>
	</div>
	<div *ngIf="!isEmpty && noResultsIndicator">
		<mat-card class="empty-warning">No results</mat-card>
	</div>
</div>
<div *ngIf="(isLoading | async)" class="spinner-container">
	<mat-progress-spinner 
		[color]="progressSpinnerColor"  
		[mode]="progressSpinnerMode"
		class="spinner"></mat-progress-spinner>
</div>