:host(app-item-grid) {
	height:						calc(100vh - 64px - 64px);
	overflow: 		overlay;
  margin-right: 10px;
  background-color:	#ffbbb;
	width:						60%;
}

:host(app-item-grid)::-webkit-scrollbar {
	width:8px;
}

:host(app-item-grid)::-webkit-scrollbar-track {
	background:		#e8e8e8;
}

:host(app-item-grid)::-webkit-scrollbar-piece {
	
}

:host(app-item-grid)::-webkit-scrollbar-thumb {
	background: 		#888;
	border-radius:	5px;
}

:host(app-item-grid)::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.grid-container {
  
}

.empty-warning {
	margin:				20px;
	text-align: 	center;
}

.spinner-container {
	position:	relative;
	height:		100%;
	width:		100%;
}

.spinner {
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}