:host(app-infobar) {
	display:					flex;
	flex-direction:		column;
	width:						25%;
}

.infobar-card{
	padding: 0px !important;
	margin: 0px auto 10px auto;
	width:80%;
}

.preview {
		min-height:	400px;
}

.info {
		min-height:	100px;
}

.preview-holder {
	width:					100%;
	height: 				302px;
	margin:					20px auto;
}

.data-area {
	height: 				100px;
	margin:					20px auto;
	width:					302px;
}

.preview-image-placeholder {
	width:					100%;
	height:					300px;
	border: 				2px solid #ccc;
	margin-left:		auto;
	margin-right:		auto;
}

.preview-image {
	width:	100%;
	height:	100%;
}