<mat-card  [class.mat-elevation-z4]=true class="infobar-card">
	<div class="preview-holder"></div>
	<mat-divider></mat-divider>
	<div class="data-area">
		<div *ngIf="haveInfo" >
			<div>File Name: {{info.name}}</div>
			<div *ngIf="!!info.mimeType">Mime Type: {{info.mimeType}} </div>
			<div *ngIf="!!info.extension">Extension: {{info.extension}} </div>
			<div *ngIf="!!info.sizeInKB">File Size: {{ selectSize(info.sizeInKB) }} 
				<span *ngIf="isSizeLessThan1024KB(info.sizeInKB)"> KB</span>
				<span *ngIf="!isSizeLessThan1024KB(info.sizeInKB)"> MB</span>
			</div>
		</div>
	</div>
</mat-card>

