:host(app-item-card):hover{
	
}

.card {
	position: 	relative;
	height:	100px;
	width:	70px;
}

.card:hover{
	cursor: 		pointer;
	background-color: grey;
	color:						#eee;
}

.card-icon {
	position: 	absolute;
	font-size:	64px;
	text-align: center;
}

.card-content {
	position: 	absolute;
	top:				110px;
	left: 			10px;
	width:			98px;
	height:			35px;
	text-align: center;
	word-wrap:	break-word;
}